.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/

venv/
.venv/
test_WDL_venv/
mnist_raw/
datasets/**
!datasets/
!datasets/*/
!datasets/*/SAE_params/
!datasets/*/SAE_params/**
!datasets/hsi_data/
!datasets/hsi_data/*/
!datasets/hsi_data/*/SAE_params/
!datasets/hsi_data/*/SAE_params/**
datasets/**/.DS_Store
datasets/**/encoded_codes.pt
2D_WDL_results/
logs/
hyperspec_images/

tmp*.json
*.log
